
body {
    margin: 10px;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  .about-section {
    margin: 10px auto;
  }
  
  p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .about-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section p {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .btn{
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-style: ridge;
  }
   .btn a {
    color: #fff;
   }
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .rights{
    text-align: center;
  }