
body {
    margin: 0;
    padding: 0;
  }
  .blog{
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(99, 97, 97);
    color: #fff;
  }

  .flex-container{
    display: flexbox;
    flex-wrap: wrap;
    text-align: justify;
    margin: 10px ;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: "Trirong", serif;
    font-weight: 500;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
  }
  
  
  nav ul li {
    display: inline-block;
    margin-left: 200px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
  }
  
  main {
    margin: 20px;
    padding-bottom: 20px;
  }

  .title{
    font-size: larger;
    text-indent: 0px;
  }
  
  article {
    margin-bottom: 20px;
    padding: 20px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    text-indent: 70px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0px 10px
  }